{# Page de Modification de password #}

{% extends 'base.html.twig' %}

{% block title %}Modification de mot de passe{% endblock %}

{% block body %}

    <div class="container">

        {{ form_start(form) }}

        <div class="row alert alert-secondary">
            <div class="col">
                <h1 class="my-4">Modifier votre mot de passe</h1>


                
                {{ form_widget(form) }}

                <button type="submit", class="btn btn-success mt-4">
                    <i class="fas fa-check"></i> &nbsp;
                    Modifier le mot de passe
                </button>
            </div>
        </div>
        
        {{ form_end(form) }}
    </div>

{% endblock %}