div.container{
    margin-top: 20px;
}

div.ad-title{
    padding: 2em;
    background-size: cover;
    background-position: center center;
}

div.ad-title h1, div.ad-title p{
    color: white;
    text-shadow: 3px 3px 3px rgba(0,0,0,0.5); /* Pour donner un ombrage au texte */
}

div.carousel-caption{
    text-shadow: 3px 3px 3px rgba(0,0,0,0.5); /* Pour donner un ombrage au texte */
}

/* Style de la photo d'avatar du propriétaire de l'annonce, ou de l'utilisateur connecté */
.avatar{
    max-width: 64px;
    max-height: 64px;
    border-radius: 50%;
}

/* Style de la photo d'avatar de l'utilisateur lorsqu'il est connecté (dans la nav bar)*/
.avatar-mini{
    max-width: 30px;
    max-height: 30px;
}

/* Style des dates qui sont déja réservées et des dates qui précèdent la date du jour dans le calendrier (dans le fichier showBooking.html.twig) */
.disabled ,.disabled-date{
    color: firebrick !important;
}
.day:hover{
    color: green;
}