{# TEMPLATE DE BASE DE L'ADMINISTRATION #}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <title> SymBNB - {% block title %}Welcome!{% endblock %}</title>

        <!-- Style Bootstrap -->
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <!-- Fontawesome en cdn -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
        <!-- Mon style Css-->
        <link rel="stylesheet" href="/css/app.css"> 

        {% block stylesheets %}{% endblock %}
    </head>
    <body>

        {# MON HEADER D'ADMINISTRATION#}
        {% include'admin/partials/header.html.twig' %}

        {% block body %}
        
        {% endblock %}

        {# Les 3 scripts suivants sont utiles au fonctionnement de bootswatch, fichier copier, coller sur le site bootswatch #}
        {# Le thème bootswatch choisi est Superhero #}
        <script src="/js/jquery.min.js"></script>
        <script src="/js/popper.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        
        {% block javascripts %}{% endblock %}
    </body>

    {# MON FOOTER D'ADMINISTRATION #}
    {% include 'admin/partials/footer.html.twig' %}

</html>