<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <title> SymBNB - {% block title %}Welcome!{% endblock %}</title>

        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <!-- Mon style Css-->
        <link rel="stylesheet" href="/css/app.css"> 

        {% block stylesheets %}{% endblock %}
    </head>
    <body>

        {# MON HEADER #}
        {% include'partials/header.html.twig' %}

        {% block body %}
        
        {% endblock %}

        {# Les 3 scripts suivants sont utiles au fonctionnement de bootswatch, fichier copier, coller sur le site bootswatch #}
        {# Le thème bootswatch choisi est Superhero #}
        <script src="/js/jquery.min.js"></script>
        <script src="/js/popper.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        
        {% block javascripts %}{% endblock %}
    </body>

    {# MON FOOTER #}
    {% include 'partials/footer.html.twig' %}

</html>
