{# Page d'erreur 404 (ressource non trouvé) créé manuellement dans le but d'accéder à un affichage personnalisé lors d'une telle erreur #}
{# POUR TESTER UNE PAGE D'ERREUR IL FAUT DANS L'URL TAPER : localhost/_error/404 #}

{% extends 'base.html.twig' %}

{% block title %}Page non trouvéé{% endblock %}

{% block body %}

    <div class="container">
        <h1>Oups ! La page que vous cherchez n'existe pas!</h1>
        <p>On a surement du mal vous renseigner! Aucun soucis, vous pouvez retouner à l'accueil ou voir nos dernieres annonces !</p>

        <a href="{{ path('homepage') }}" class="btn btn-primary">Retour à l'accueil</a>
        <a href="{{ path('ads_show') }}" class="btn btn-primary">Voir nos annonces</a>

        
    </div>

{% endblock %}